
$nav-bar-height: 2.5vw;


html {
    scroll-behavior: smooth;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

@keyframes nav-bar-element-drop-in {
    0% {
        opacity: 0;
        transform: scale(150%,150%);
    }
    100% {
       opacity: 100%;
       transform: none;
    }
}

.nav-bar {
    position: fixed;
    top: -1.1%;
    left: -1.1vw;
    width: 101vw;
    height: $nav-bar-height;
    background-color: var(--nava_bar_color, rgba(0,0,0,0));
    backdrop-filter: blur(var(--nav_bar_blur, 0px));
    border-color: rebeccapurple;
    border-width: 0.2vh;
    border-style: var(--nav_bar_border_style, none);
    padding-top: $nav-bar-height - $nav-bar-height/2;
    padding-left: 1.5vw;

    display: grid;
    grid-auto-flow: column;
    //grid-template-columns: auto;
    //grid-template-rows: 0vw / auto;
    //grid-template-areas: 'test test test test test';
    overflow: hidden;
}

.nav-bar * {
}

.nav-bar #navBarIndex{
    left: $nav-bar-height*2;
    
}

.nav-bar h1 {
    color: white;
    
    position: fixed;
    top: $nav-bar-height/5;
    font-size: $nav-bar-height/3*2;
    animation: nav-bar-element-drop-in 2s;
    
}

.nav-bar img {
    width: $nav-bar-height;
    height: $nav-bar-height;
    animation: nav-bar-element-drop-in 2s;
}

body {
    color: white;
    background: black no-repeat;
}

p {
    margin-bottom: 20vh;
}

img {
    width: 50%;
}

main {
    margin-top: $nav-bar-height+1vw;
}